[Unit]
Description=api - Nginx server for cmsApi
After=remote-fs.target
After=network-online.target
Wants=network-online.target

[Service]
User=deployer
Type=forking
ExecStartPre={{deploy_home}}/libs/nginx/sbin/nginx -t -c {{deploy_home}}/libs/nginx/conf/cmsApi.conf
ExecStart={{deploy_home}}/libs/nginx/sbin/nginx -c {{deploy_home}}/libs/nginx/conf/cmsApi.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target