#!/usr/bin/env python3.6

import sys
import subprocess
import re
import os

if len(sys.argv) <= 2:
	sys.exit('Missing args!')

propose_address = sys.argv[1]
propose_type = sys.argv[2]


geth_port = '{{ utility_node_sync_port }}'
uc_geth_node_dir = '{{uc_geth_node_dir}}'
utility_chain_id = '{{chain_id}}'
geth_node_id='{{geth_node_id}}'

status=subprocess.getstatusoutput('geth attach %s/%s/geth.ipc --exec \'clique.propose("%s", %s)\'' % (uc_geth_node_dir, geth_node_id,propose_address, propose_type))
if status[0] != 0:
  sys.exit("Clique propose  failed ")
